.SearchBar {
    border-radius: 50px 50px 50px 50px;
    background: orangered;
    border: none;
    justify-content: space-between;
    flex-flow: nowrap !important;
}

.input1 {
    background-color: transparent;
    border: none;
    padding-left: 5%;
    width: 75%;
}

.input1:focus,
.SearchBtn:focus {
    outline: none !important;
    border: none;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 10px rgb(87, 26, 1);
}

.SearchBtn {
    background-color: transparent !important;
    border-color: transparent !important;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/VisualEditor_-_Icon_-_Search-big_-_white.svg/1024px-VisualEditor_-_Icon_-_Search-big_-_white.svg.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position-x: center;
    height: 25px;
    width: 50px;
}

::placeholder {
    color: whitesmoke;
    opacity: 1;
}

:-ms-input-placeholder {
    color: whitesmoke;
}

::-ms-input-placeholder {
    color: whitesmoke;
}