.card {
    width: 20%;
    min-width: 250px !important;
    margin-bottom: 2rem !important;
    max-height: 500px;
    max-width: 30%;
}

.cardBody {
    overflow-y: auto;
}

.card>img {
    height: 50%;
    max-height: 250px;
}

.roundImg {
    margin-left: 0.5rem;
}

.CardFooter {
    overflow-y: hidden;
    scrollbar-color: red yellow;
    justify-content: space-between;
    display: inline-flex; 
    /* overflow-x: "auto"; */
}

.CircularProgressbar2 {
    width: 30%;
}

.Stats {
    height: 50px;
    width: 100%;
    justify-content: space-between;
    display: inline-flex;
}

@media only screen and (max-width : 576px) {

    .card {
        margin: auto;
        width: 80%;
    }
}